includes:
    - %currentWorkingDirectory%/vendor/nunomaduro/larastan/extension.neon

parameters:

    bootstrapFiles:
        - %currentWorkingDirectory%/vendor/nunomaduro/larastan/bootstrap.php

    paths:
        - app

    # The level 8 is the highest level
    level: 5

    checkMissingIterableValueType: false
